.day-container {
  color: white;
  border-radius: 10px;
  margin: 0 0 7px 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  min-width: 100%;

  & input { display: none; }

  & input:checked ~ label::after {
    transform: rotate(90deg); 
  }

  & label:hover {
    background: rgba(50, 61, 77, 0.7);
  }

  & label{
    font-size: 18px;
    border-radius: 10px;
    position: relative;
    display: block;
    width: 100%;
    padding: 10px;
    font-weight: 600;
    color: #fff;
    background: rgba(50, 61, 77, 0.3);
    cursor: pointer;
    border: 1px solid white;
  }

  & label::after {
    display: block;  
    content: "\276F";
    position: absolute;
    right: 10px; top: 10px;
    transition: all 0.4s;
  }

  & .hours-container {
    transition: max-height 0.3s;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    & .hour-container {
      margin: 0 0 5px 0;
    }
  }
}

.input-label {
  border-radius: 10px;
}